/* Reset CSS */
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  font-family: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* Styling mobilefirst  */

/* Creating Variables for repeating values  */
:root {
  --aqua: rgb(204, 228, 228);
  --lightcolorbackground: rgb(253, 253, 253);
  --backgroundNavFooter: dimgray;
  --bordercolor: #ccc;
}

/* Adding smooth scrolling effect */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}

/* Styling class container (Navbar) and display Flexbox for mobile */
.container {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  background-color: var(--backgroundNavFooter);
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  opacity: 0.9;
}

/* Styling List */
.container nav ul li {
  display: inline;
  margin-right: 5px;
  color: var(--aqua);
  font-size: 13px;
}

nav ul li a {
  color: var(--aqua);
  text-decoration: none;
}

/* Hover over with underline effect */
nav ul li a:hover {
  text-decoration-line: underline;
  border-bottom: 10px;
  color: var(--aqua);
}

/* Adding pointer effect on list links */
nav ul li:hover {
  cursor: pointer;
}

/* Styling About me section for mobile */
.about_me {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
}

/* Styling Article with P tag and H1 tag */
.about {
  width: 100%;
  padding: 20px;
  font-size: 14px;
  font-style: italic;
}
.about h1 {
  text-align: center;
  padding-bottom: 20px;
  font-size: 20px;
}
.about_me img {
  height: 200px;
  width: 200px;
}

/* Styling Project Section for mobile */
.work {
  background-color: var(--lightcolorbackground);
  height: 100%;
}
/* On this set of img, using Flex */
.work-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}
/* Styling Img */
.card-1 img,
.card-2 img,
.card-3 img,
.card-4 img {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

/* Hover effect on img */
.card-1 img:hover,
.card-2 img:hover,
.card-3 img:hover,
.card-4 img:hover {
  opacity: 0.5;
  transform: scale(1.1);
  cursor: pointer;
}

/* Styling h2 tags */
.work-img div h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-bottom: 20px;
  font-style: italic;
  font-size: 15px;
  text-align: center;
}
/* Styling certs section */
.certs {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
  overflow-y: hidden;
}
.slider-container {
  position: relative;
  width: 305px; /* width of a certificate */
  height: 250px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* optional shadow for aesthetic */
  padding-bottom: 30px; /* space for the indicators */
}

.certificates-slider {
  display: flex;
  transition: transform 0.4s;
}

#img {
  flex: 0 0 auto;
  width: 280px;
  height: 250px;
  margin: 10px 13px;
  /* border: 2px solid black; */
}

.arrow-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
}

#prevBtn {
  left: 0;
}

#nextBtn {
  right: 0;
}
/* Lines under certs */
.indicators {
  position: absolute;
  top: 302px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 50px; /* Length of the line */
  height: 4px; /* Thickness of the line */
  margin: 0 5px;
  background-color: lightgray; /* Neutral color for inactive dots */
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition for color changes */
}

.dot.active {
  background-color: rgb(175, 175, 175);
}

/* Resume section */
.resume {
  height: 100vh;
  background-color: var(--lightcolorbackground);
}

.resume h2 {
  text-align: center;
  padding-top: 100px;
  font-size: 30px;
}

/* Back to top button for mobile */
.back-to-top {
  display: none;
}

/* Styling Footer with contact me details for mobile */
.footer {
  display: flex;
  color: var(--aqua);
  background-color: var(--backgroundNavFooter);
  width: 100%;
  height: 100px;
  justify-content: center;
}

.footer h3 {
  padding-top: 50px;
  padding-right: 50px;
}

.footer ul {
  padding-top: 25px;
}

.footer ul li {
  text-decoration: none;
  list-style: none;
}

/* Hover effect on contact links */
.footer a:hover {
  text-decoration-line: underline;
  border-bottom: 10px;
  color: var(--aqua);
}
.footer .divider {
  display: none;
  background-color: var(--aqua);
  text-align: center;
  height: 5%;
  padding-top: 90px;
}

.footer a {
  color: var(--aqua);
  text-decoration: none;
}

/* Media Queries */

/* Styling for screens larger than or equal to 768px */
@media (max-width: 992px) and (min-width: 768px) {
  /* Styling class container (Navbar) and display Flexbox for larger screens */
  body {
    overflow-x: hidden;
  }
  .container {
    justify-content: end;
    padding-right: 10px;
  }

  /* Styling About me section for larger screens */
  .about {
    width: 400px;
  }
  .about {
    border-right: 1px solid var(--bordercolor);
  }
  .about_me {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .about_me img {
    padding-top: 60px;
    width: 180px;
    height: 240px;
  }

  /* Styling Project Section for larger screens */
  .work {
    padding-top: 80px;
    height: 100vh;
  }
  .work-img {
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 40px;
  }
  .card-1,
  .card-2,
  .card-3,
  .card-4 {
    width: 300px;
  }
  .card-1 h2,
  .card-2 h2,
  .card-3 h2,
  .card-4 h2 {
    padding-right: 50px;
  }
  /* Certs updated */
  .slider-container {
    width: 620px; /* width of a certificate */
    height: 540px;
  }
  #img {
    flex: 0 0 auto;
    width: 590px;
    height: 480px;
    margin: 10px 13px;
  }
  .indicators {
    top: 510px;
    left: 50%;
  }
  /* Resume section */
  .resume {
    width: 100vw;
    height: 100vh;
  }

  /* Back to top button for larger screens */
  .back-to-top {
    display: block;
    position: fixed;
    bottom: 130px;
    right: 30px;
    background-color: #4b96e6;
    color: #fff;
    padding: 10px;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 10px;
    text-decoration: none;
  }

  /* Styling Footer with contact me details for larger screens */
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    padding-right: 200px;
    height: 100px;
  }

  .footer h3 {
    padding-top: 15px;
    padding-left: 120px;
    margin: 20px;
    font-size: 16px;
  }
  .footer ul {
    padding-right: 0;
    padding-top: 10px;
    padding-left: 150px;
  }
}

/* Styling for screens larger than or equal to 992px */
@media (min-width: 992px) {
  /* Styling class container (Navbar) and display Flexbox for larger screens */
  body {
    overflow-x: hidden;
  }
  .container {
    justify-content: end;
    padding-right: 10px;
  }
  .container nav ul li {
    font-size: 16px;
    margin-right: 20px;
  }

  /* Styling About me section for larger screens */
  .about {
    width: 700px;
    padding-right: 100px;
  }
  .about {
    border-right: 1px solid var(--bordercolor);
  }
  .about h1 {
    text-align: left;
    font-size: 25px;
  }
  .about_me {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: center;
    padding-top: 100px;
  }

  .about_me .img {
    padding-top: 30px;
    padding-left: 50px;
    width: 270px;
    height: 300px;
  }

  /* Styling Project Section for larger screens */
  .work {
    height: 100vh;
    padding-top: 200px;
  }
  .work-img {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 40px;
  }
  .card-1,
  .card-2,
  .card-3,
  .card-4 {
    width: 300px;
  }
  .card-1 h2,
  .card-2 h2,
  .card-3 h2,
  .card-4 h2 {
    padding-right: 50px;
  }
  /* Certs updated */
  .slider-container {
    width: 995px; /* width of a certificate */
    height: 750px;
  }
  #img {
    flex: 0 0 auto;
    width: 970px;
    height: 680px;
    margin: 10px 13px;
  }
  .indicators {
    top: 720px;
    left: 50%;
  }
  /* Resume section */
  .resume {
    width: 100vw;
    height: 100vh;
  }
  .back-to-top {
    display: block;
    position: fixed;
    bottom: 130px;
    right: 30px;
    background-color: #4b96e6;
    color: #fff;
    padding: 10px;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 10px;
    text-decoration: none;
  }

  /* Styling Footer with contact me details for larger screens */
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    /* padding-right: 200px; */
    height: 100px;
    padding: 0;
  }

  .footer h3 {
    padding-top: 15px;
    /* padding-left: 120px; */
    margin: 20px;
    font-size: 16px;
  }
  .footer ul {
    padding-right: 0;
    padding-top: 10px;
    padding-left: 150px;
  }
}
